@model List<mvc_unit_books.Models.Book>
@{
    ViewData["Title"] = "Home Page";
    
}
@if (Model == null)
{
    <h1>Welcome</h1>
}
else{
    <div class = "table-wrapper">
        <table class="fl-table">
                <tr class="table-header">
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>

            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Genre</td>
                    <td>@book.Price</td>
                    <td>@book.PublishDate</td>
                </tr>

            }
        </table>
    </div>
}
